a {
    outline-style: none;
}

button {
    outline-style: none;
}

.content {
    margin: 100px 0;
}

.inline {
    display: inline-block;
}

.comment-body {
    font-size: medium;
    font-weight: 500;
}

ul .thumbnail {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 33%;
    margin: 0 auto;
}

ul .thumbnail li {
    padding: 0;
    margin: 0;
}

.img-50 {
    height: 50px;
    width: 50px;
}

.img-100 {
    height: 100px;
    width: 100px;
}

.img-150 {
    height: 150px;
    width: 150px;
}

.h-300 {
    height: 350px;
}

.p-20 {
    margin: 10px;
}

.w-30p {
    width: 33%;
}

/*NAVBAR*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-ul li {
    float: left;
}

.nav-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@keyframes scale-up {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

.nav-ul li a:hover {
    animation-name: scale-up;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.nav-ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    color: black;
    background-color: #c27a0e;
}

.hover-blur:hover {
    filter: blur(5)
}

@media (min-width: 1000px) {
    .content {
        margin: 100px 20%;
    }
}

#div-loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #FFE135;
}

.hidden {
    display: none;
}

.loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

#div-loading-container h4 {
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.fade-animation {
    animation-name: fade;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.parent {
    position: relative;
}

.child {

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -100px 0 0 -50px;
}