.content {
    margin: 100px 20%;
}

.inline {
    display: inline-block;
}

.comment-body {
    font-size: medium;
    font-weight: 500;
}

ul .thumbnail {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 33%;
    margin: 0 auto;
}

ul .thumbnail li {
    padding: 0;
    margin: 0;
}

.img-50 {
    height: 50px;
    width: 50px;
}

.img-100 {
    height: 100px;
    width: 100px;
}

.img-150 {
    height: 150px;
    width: 150px;
}

.h-300 {
    height: 350px;
}

.p-20 {
    margin: 10px;
}

.w-30p {
    width: 33%;
}

/*NAVBAR*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-ul li {
    float: left;
}

.nav-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@keyframes scale-up {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

.nav-ul li a:hover {
    animation-name: scale-up;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.nav-ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    color: black;
    background-color: #c27a0e;
}