<ul class="nav-ul">
    <li>
        <a routerLink="/dribbble" [routerLinkActive]="['active']">Dribbble</a>
    </li>
    <li>
        <a routerLink="/courses" [routerLinkActive]="['active']">Courses</a>
    </li>
    <li>
        <a routerLink="/form" [routerLinkActive]="['active']">Form</a>
    </li>
    <li>
        <a routerLink="/shots" [routerLinkActive]="['active']">Shots</a>
    </li>
    <li style="float:right">
        <div
                class="fb-like"
                data-width="600"
                data-show-faces="true">
        </div>
    </li>
</ul>
<div class="content">

    <router-outlet></router-outlet>
</div>