<ul class="nav-ul">
    <li>
        <a routerLink="/dribbble" [routerLinkActive]="['active']">Dribbble</a>
    </li>
    <li>
        <a routerLink="/courses" [routerLinkActive]="['active']">Courses</a>
    </li>
    <li>
        <a routerLink="/about" [routerLinkActive]="['active']">About</a>
    </li>
    <li>
        <a routerLink="/shots" [routerLinkActive]="['active']">Shots</a>
    </li>
</ul>
<div class="content">

    <router-outlet></router-outlet>
    <div class="fb-comments" data-href="http://angular.us-east-1.elasticbeanstalk.com/" data-width="500" data-numposts="5"></div>
</div>