<div class="">
    <ul class="thumbnails">
        <li class="thumbnail col-lg-1 h-300 p-20" *ngFor="let shot of shots">
            <a routerLink="/dribbble/{{shot.id}}">
                <h2>{{ shot.user.name }}</h2>
                <h4>{{ shot.title }}</h4>
                <img class="hover-blur" src="{{ shot.images.hidpi ? shot.images.hidpi : shot.images.normal }}">
            </a>
        </li>
    </ul>
</div>
<div>
    <button class="btn btn-primary center-block" (click)="loadNextPage($event)">Load Mode</button>
</div>
<div class="fb-comments" data-href="http://angular.us-east-1.elasticbeanstalk.com/" data-numposts="5"></div>
