# Created by .ignore support plugin (hsz.mobi)

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

node_modules/*
bower_components/*
*/.idea/workspace.xml